@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <h1>Dispose With Flexibility</h1>
    <p class="lead">Let us collect the trash YOUR way</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

