@model Trash_Collector_Project.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Current Charges Posted
        </dt>

        <dd>
            @Html.ViewBag.amount
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Pay (Not Available at This Time) (Please Mail Checks)", null, new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
