@model Trash_Collector_Project.Models.Customer

@{
    ViewBag.Title = "Index";
}
<h1>Profile</h1>
<h2>Welcome, @ViewBag.Name</h2>

<h3>Manage your schedule.</h3>
<h3>Choose to suspend service</h3>

<h3>View Charges for this Month</h3>

