@model Trash_Collector_Project.Models.Customer

@{
    ViewBag.Title = "Index";
}
<h1>Profile</h1>
<h2>Welcome, @ViewBag.Name</h2>

<h3>@Html.ActionLink("Manage Your Profile", "Edit")</h3>
<h3>@Html.ActionLink("Choose To Suspend Your Service", "Suspend")</h3>
<h3>@Html.ActionLink("View Charges For This Month", "Details")</h3>

